<div class="row">
	<div class="col-xs-12">
		<h1 ng-if="mode == 'add'">Dodaj sprzęt</h1>
		<h1 ng-if="mode != 'add'">Edytuj sprzęt</h1>
	</div>
</div>
<form name="addForm">
	<div class="row marginForRow10">
		<div class="col-xs-4">
			<div class="form-group">
			    <label for="dataPrzyjecia">Data przyjęcia</label>
			    <input name="dataPrzyjecia" type="text" data-trigger="focus" id="dataPrzyjecia" data-autoclose="1" class="form-control" ng-model="$parent.dataPrzyjecia"  data-date-format="dd/MM/yyyy" bs-datepicker >
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
			    <label for="dataOdbioru">Data odbioru</label>
			    <input name="dataOdbioru" type="text" data-trigger="focus" id="dataOdbioru" data-autoclose="1" class="form-control" ng-model="$parent.dataOdbioru"  data-date-format="dd/MM/yyyy" bs-datepicker >
			</div>
		</div>
	</div>
	<div class="row marginForRow10">
		<div class="col-xs-4">
			<div class="form-group">
			    <label for="nazwa">Nazwa</label>
			    <input id="nazwa" type="text" class="form-control" ng-model="$parent.nazwa"/>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
			    <label for="numerSeryjny">Numer seryjny</label>
			    <input id="numerSeryjny" type="text" class="form-control" ng-model="$parent.numerSeryjny"/>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
			    <label for="telefon">Telefon</label>
			    <input id="telefon" type="number" class="form-control" ng-model="$parent.telefon"/>
			</div>
		</div>
	</div>
	<div class="row marginForRow10">
		<div class="col-xs-4">
			<div class="form-group">
			  <label for="usterka">Usterka</label>
			  <textarea class="form-control" rows="5" id="usterka" ng-model="$parent.usterka"></textarea>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
			  <label for="wyposazenie">Wyposażenie</label>
			  <textarea class="form-control" rows="5" id="wyposazenie" ng-model="$parent.wyposazenie"></textarea>
			</div>
		</div>
		<div class="col-xs-4">
			<div class="form-group">
			  <label for="uwagi">Uwagi</label>
			  <textarea class="form-control" rows="5" id="uwagi" ng-model="$parent.uwagi"></textarea>
			</div>
		</div>
	</div>
	<div class="row marginForRow10">
	    <div class="col-xs-12">
	       <div class="pull-right">
	         <button type="button" class="btn btn-default" ng-click="showList()">Wróć do listy</button>
	         <button ng-if="mode == 'add'" type="button" class="btn btn-primary" ng-click="addProduct()">Dodaj</button>
	         <button ng-if="mode != 'add'" type="button" class="btn btn-primary" ng-click="editProduct()">Edytuj</button>
	       </div>
	    </div>
	</div>
</form>	
