doctype html
html(ng-app="myApp")
  head
    title= title
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='bower_components/select2/select2.css')
    link(rel='stylesheet', href='bower_components/angular-ui-select/dist/select.min.css')
    link(rel='stylesheet', href='bower_components/select2-bootstrap-css/select2-bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/bootstrap-additions/dist/bootstrap-additions.css')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/jquery-ui/jquery-ui.min.js')
    script(src='bower_components/lodash/lodash.min.js')
    script(src='bower_components/select2/select2.js')
    script(src='bower_components/angular/angular.min.js')
    script(src='bower_components/angular-animate/angular-animate.min.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.min.js')
    script(src='bower_components/angular-route/angular-route.min.js')
    script(src='bower_components/angular-strap/dist/angular-strap.js')
    script(src='bower_components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='bower_components/angular-ui-select2/src/select2.js')
    script(src='bower_components/angular-ui-select/dist/select.min.js')
    script(src='bower_components/angular-order-object-by/src/ng-order-object-by.js')
    script(src='bower_components/momentjs/min/moment.min.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/jsPDF-master/dist/jspdf.min.js')
    script(src='bower_components/jsPDF-master/plugins/addhtml.js')
    script(src='bower_components/jsPDF-master/plugins/from_html.js')
    script(src='bower_components/jsPDF-master/plugins/split_text_to_size.js')
    script(src='bower_components/jsPDF-master/plugins/standard_fonts_metrics.js')
    script(src='/javascripts/productController.js')
  body
    div.container-fluid(ng-controller="productController" ng-init="init()")
        div#alerts-container
        div.row.mainHeader.hideIt
            div.col-xs-12
                div.container
                    div.row
                        div.col-xs-12
                            ul
                                li(ng-click="showList()") LISTA
                                li(ng-click="showAddForm()") DODAJ 
        div.container
            div(ng-include="templateToShow")
                
