<div class="row">
  <div class="col-xs-12">
    <h1>Lista sprzętów</h1>
  </div>
</div>
<div class="row marginForRow10">
      <div class="col-xs-12">
        <div class="form-inline pull-right">
          <input type="text" type="text" ng-model="$parent.filter" placeholder="Szukaj" class="form-control"/>
        </div>
      </div>
</div>
<div class="row marginForRow10">
    <div class="col-xs-12">
        <table class="table table-hover mdContainer">
            <thead>
              <tr>
               <th class="index pointer" ng-click="sortResources('index')">Id &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'index' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'index' && !reverse"></i></th>  
               <th class="dataPrzyjecia pointer" ng-click="sortResources('dataPrzyjecia')">Przyjęcie &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'dataPrzyjecia' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'dataPrzyjecia' && !reverse"></i></th> 
               <th class="dataOdbioru pointer" ng-click="sortResources('dataOdbioru')">Odbiór &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'dataOdbioru' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'dataOdbioru' && !reverse"></i></th> 
               <th class="nazwa pointer" ng-click="sortResources('nazwa')">Nazwa &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'nazwa' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'nazwa' && !reverse"></i></th> 
               <th class="numerSeryjny pointer" ng-click="sortResources('numerSeryjny')">Numer seryjny &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'numerSeryjny' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'numerSeryjny' && !reverse"></i></th> 
               <th class="telefon pointer" ng-click="sortResources('telefon')">Telefon &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'telefon' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'telefon' && !reverse"></i></th> 
               <th class="usterka pointer" ng-click="sortResources('usterka')">Usterka &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'usterka' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'usterka' && !reverse"></i></th> 
               <th class="wyposazenie pointer" ng-click="sortResources('wyposazenie')">Wyposażenie &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'wyposazenie' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'wyposazenie' && !reverse"></i></th> 
               <th class="uwagi pointer" ng-click="sortResources('uwagi')">Uwagi &nbsp;
                  <i class="fa fa-sort-desc" ng-if="propertyToSort == 'uwagi' && reverse"></i>
                  <i class="fa fa-sort-asc" ng-if="propertyToSort == 'uwagi' && !reverse"></i></th> 
               <th class="akcje">Akcje</th> 
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="product in products" ng-class="product.dataOdbioru != '' ? 'addGreenBackground' : ''">
               <td class="index">{{product.index}}</td> 
               <td class="dataPrzyjecia">{{product.dataPrzyjecia}}</td> 
               <td class="dataOdbioru">{{product.dataOdbioru}}</td>
               <td class="nazwa">{{product.nazwa}}</td> 
               <td class="numerSeryjny">{{product.numerSeryjny}}</td> 
               <td class="telefon">{{product.telefon}}</td> 
               <td class="usterka">{{product.usterka}}</td> 
               <td class="wyposazenie">{{product.wyposazenie}}</td> 
               <td class="uwagi">{{product.uwagi}}</td> 
               <td class="akcje">
                <span class="pull-right actions"> 
                  <span ng-click="showEditForm(product)" class="pointer"><i class="fa fa-pencil"></i></span> 
                  <span ng-click="deleteProduct(product._id)" class="pointer"><i class="fa fa-trash"></i></span>
                  <span ng-click="print(product)" class="pointer"><i class="fa fa-print"></i></span>
                </span>   
                </td>    
              </tr>
            </tbody>
        </table>
    </div>
</div>

    
    
      
        

        

                
                    
                
                    