 <div id="ignorePDF" class="row marginForRow10 hideIt">
	    <div class="col-xs-12">
 			<button type="button" class="btn btn-default" ng-click="showList()">Wróć do listy</button>
 			<button type="button" class="btn btn-primary" onClick="window.print()">Drukuj</button>
 		</div>
 </div>
 <div style="font-size: 14px">
	 <div class="row">
	 	<div class="col-xs-4">
	 		<div>Emcom System</div>
	 		<div>Saperów 9</div>
	 		<div>53-151 Wroclaw</div>
	 		<div>717 336 556</div>
	 		<div>www.serwis.xyz</div>
	 	</div>
	 	<div class="col-xs-4">
	 	</div>
	 	<div class="col-xs-4">
	 		<div class="pull-right">{{productToPrint.dataPrzyjecia}}</div>
	 	</div>
	 </div>
	  <div class="row" style="margin-top: 40px">
	 	<div class="col-xs-12" style="text-align: center">
	 		<div>Zgłoszenie o numerze {{productToPrint.index}}</div>
	 	</div>
	 </div>
	  <div class="row" style="margin-top: 80px">
	 	<div class="col-xs-12">
	 		<div>Nazwa sprzętu: {{productToPrint.nazwa}}</div>
	 		<div>Usterka: {{productToPrint.usterka}}</div>
	 		<div>Telefon: {{productToPrint.telefon}}</div>
	 		<div>Wyposażenie: {{productToPrint.wyposazenie}}</div>
	 		<div>Uwagi: {{productToPrint.uwagi}}</div>
	 	</div>
	 </div>
	 <div class="row" style="height: 150px; margin-top: 80px">
	 	<div class="col-xs-12">

	 	</div>
	 </div>
	 <div class="row">
	 	<div class="col-xs-4">
	 		<div>....................................................................</div>
	 		<div>Podpis serwisanta</div>
	 	</div>
	 	<div class="col-xs-4">
	 	</div>
	 	<div class="col-xs-4">
	 		<div>....................................................................</div>
	 		<div>Podpis klienta</div>
	 	</div>
	 </div>
</div>	 
