@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
}

.mainHeader {
	background: #2c2c2c;
	color: white;
	padding: 30px 0
}
.mainHeader ul{
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}

.mainHeader li{
	float:left;
	margin-right: 30px;
	cursor: pointer;
}

.mainHeader i{
	font-size: 16px;
	cursor: pointer;
}

.mdContainer{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px; /* future proofing */
  -khtml-border-radius: 2px; /* for old Konqueror browsers */
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.mdContainer thead {
  background-color: #fafafa;
  border-top: solid #ddd 1px;
}

.mdContainer .index {
  width: 5%;
}

.mdContainer .dataPrzyjecia {
  width: 5%;
}

.mdContainer .dataOdbioru {
  width: 5%;
}

.mdContainer .nazwa {
  width: 10%;
}

.mdContainer .numerSeryjny {
  width: 10%;
}

.mdContainer .telefon {
  width: 10%;
}

.mdContainer .usterka {
  width: 17%;
}


.mdContainer .wyposazenie {
  width: 17%;
}


.mdContainer .uwagi {
  width: 16%;
}


.mdContainer .akcje {
  width: 5%;
}

.marginForRow {
	margin-top: 20px;
}

.marginForRow10 {
  margin-top: 10px;
}

.btn-primary {
  margin-left: 10px;
}

#alerts-container {
    z-index: 100;
    position: absolute;
    left: 0px;
    margin: 50px 25% 5px 25%;
    min-width: 50%;
    min-height: 37px;
}

.pointer {
  cursor: pointer;
}

.actions span{
  margin-left: 1px;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.addGreenBackground {
  background-color: #C9FBC9;
}

@media print {
    .hideIt {
      display: none;
    }
}